@import "normalize.css";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ArchivoBlack';
    src: url('/fonts/ArchivoBlack-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: darkgreen;
    --focus-visible-color: lightskyblue;
    --error-color: indianred;

    --text-dark: #1B1B1B;
    --text-light: rgb(94, 94, 94);


    --layout-width: 1280px;
    --layout-indent: 1.5rem;

    --locale-width: 65px;
}

